@{title(model.name)}
@{sitemap('blogsdetail')}
@{sitemap_change('blogsdetail', 'url', model.linker)}
@{sitemap_change('blogsdetail', 'name', model.name)}

<div class="padding npb newsBlock-inner">
    <div class="news-inner-head">
        <p class="news-header-date">June 15, 2017</p>
        <p class="news-header-title">Karas. New branch in Avan community</p>
    </div>
    <div class="news-inner-body">
        <div class="news-img">
            <img src="/img/news/inner1.png">
        </div>
        <div class="news-body-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div><!--
@{!model.body}-->