@{if repository.page}
@{!repository.page.body}
@{fi}

<div class="specialOffer">
	<div class="singleSpecialOffer">
		<div class="specialOfferHeader">
			<p><img src="/img/specialOffer/special-offer-flag.png"></p>
			<span>Special Offer</span>
		</div>
		<div>
			<a>
			<img src="/img/specialOffer/special-offer-1.png">
			<span>Raging pizza by an Italian chef</span>
		</a>
		</div>
	</div>
	<div class="singleSpecialOffer">
		<div class="specialOfferHeader">
			<p><img src="/img/specialOffer/new-special-offer-flag.png"></p>
			<span>New in Karas</span>
		</div>
		<a>
			<img src="/img/specialOffer/special-offer-2.png">
		<span>Nuremberg sausage with spicy pepper</span>
		</a>
	</div>
	<div class="singleSpecialOffer">
		<div class="specialOfferHeader">
			<p><img src="/img/specialOffer/special-offer-flag.png"></p>
			<span>Special Offer</span>
		</div>
		<a>
			<img src="/img/specialOffer/special-offer-3.png">
			<span>3 cheeseburger for the price of two</span>
		</a>
	</div>
	<div class="singleSpecialOffer">
		<div class="specialOfferHeader">
			<p><img src="/img/specialOffer/special-offer-flag.png"></p>
			<span>Special Offer</span>
		</div>
		<a>
			<img src="/img/specialOffer/special-offer-4.png">
			<span>Fresh cocktails from Vacho grandpa fruit garden</span>
		</a>
	</div>
</div>

<div class="padding npt">
	<nav class="manufacturers">
		<div class="categories">
			<div class="row">
				@{foreach m in global.categories}
				@{if m.count > 0 && !m.level}
				@{sitemap_url('products_@{!controller.getLang()}')}

				<div class="col-sm-3">
					<a href="/@{!controller.getLang()}/shop/@{m.linker}/" style="width: 100%;text-align: center">
						<img style="width: 100%;" src="@{if !m.pic }/img/empty.png@{else}/images/small/@{m.pic}.jpg@{fi}" class="img-responsive" alt="@{m.picture}" border="0" />
						<span style="display: inline-block; font-size: 16px">@{m.full_name[controller.getLang()]}</span>
					</a>
				</div>

				@{fi}
				@{end}
			</div>
		</div>
	</nav>

	<!--@{view('eshop/partial-products', model)}-->

</div>