@{if repository.page}
@{!repository.page.body}
@{fi}

<div class="specialOffer">

    @{foreach m in global.offers}
    <div class="singleSpecialOffer">
        <div class="specialOfferHeader">
            <p>
                <img src="@{if !m.isnew }/img/specialOffer/special-offer-flag.png@{else}/img/specialOffer/new-special-offer-flag.png@{fi}">
            </p>
            <span>Special Offer</span>
        </div>
        <a>
            <img src="@{if !m.picture }/img/empty.png@{else}/images/small/@{m.picture}.jpg@{fi}">
            <span>@{m.title[controller.getLang()]}</span>
        </a>
    </div>
    @{end}

    <!--<div class="singleSpecialOffer">-->
        <!--<div class="specialOfferHeader">-->
            <!--<p><img src="/img/specialOffer/special-offer-flag.png"></p>-->
            <!--<span>Special Offer</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a>-->
                <!--<img src="/img/specialOffer/special-offer-1.png">-->
                <!--<span>Raging pizza by an Italian chef</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="singleSpecialOffer">-->
        <!--<div class="specialOfferHeader">-->
            <!--<p><img src="/img/specialOffer/new-special-offer-flag.png"></p>-->
            <!--<span>New in Karas</span>-->
        <!--</div>-->
        <!--<a>-->
            <!--<img src="/img/specialOffer/special-offer-2.png">-->
            <!--<span>Nuremberg sausage with spicy pepper</span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="singleSpecialOffer">-->
        <!--<div class="specialOfferHeader">-->
            <!--<p><img src="/img/specialOffer/special-offer-flag.png"></p>-->
            <!--<span>Special Offer</span>-->
        <!--</div>-->
        <!--<a>-->
            <!--<img src="/img/specialOffer/special-offer-3.png">-->
            <!--<span>3 cheeseburger for the price of two</span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="singleSpecialOffer">-->
        <!--<div class="specialOfferHeader">-->
            <!--<p><img src="/img/specialOffer/special-offer-flag.png"></p>-->
            <!--<span>Special Offer</span>-->
        <!--</div>-->
        <!--<a>-->
            <!--<img src="/img/specialOffer/special-offer-4.png">-->
            <!--<span>Fresh cocktails from Vacho grandpa fruit garden</span>-->
        <!--</a>-->
    <!--</div>-->

    <div class="moreSpecialOffer">
        <button ng-click="showMore()">More</button>
    </div>
</div>

<div class="menu">
    <div class="main-menu">
        @{foreach m in global.categories}

        <!--TODO sort for empty categories  AND db_categories to categories -->
        <!---->
        <!--@{sitemap_url('products_@{!controller.getLang()}')}-->
        <div class="singleMenu">
            <div class="singleMenuImg">
                <a href="/@{!controller.getLang()}/shop/@{m.linker}/">
                    <img src="@{if !m.pic }/img/empty.png@{else}/images/small/@{m.pic}.jpg@{fi}">
                </a>
            </div>
            <div class="singleMenuFooter">
                <p>
                    <span class="menu-text">@{m.full_name[controller.getLang()]}</span>
                    <a href="/@{!controller.getLang()}/shop/@{m.linker}/" class="arrow"><img src="/img/menu/pepper-arrow.png"></a>
                </p>
            </div>
        </div>



        @{end}
    </div>
</div>

<div class="restaurants">
    @{foreach m in global.restaurants}
    <div class="singleRestaurant">
        <div class="singleRestaurantHeader">
            <p><img src="/img/restaurants/location.png"></p>
            <span>@{m.title[controller.getLang()]}</span>
        </div>
        <div>
            <a>
                <img src="@{if !m.picture }/img/empty.png@{else}/images/small/@{m.picture}.jpg@{fi}">
            </a>
        </div>
    </div>
    @{end}
    <!--<div class="singleRestaurant">-->
        <!--<div class="singleRestaurantHeader">-->
            <!--<p><img src="/img/restaurants/location.png"></p>-->
            <!--<span>KARAS - Tumanian</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a>-->
                <!--<img src="/img/restaurants/rest1.png">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="singleRestaurant">-->
        <!--<div class="singleRestaurantHeader">-->
            <!--<p><img src="/img/restaurants/location.png"></p>-->
            <!--<span>KARAS - Abovyan</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a>-->
                <!--<img src="/img/restaurants/rest2.png">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="singleRestaurant">-->
        <!--<div class="singleRestaurantHeader">-->
            <!--<p><img src="/img/restaurants/location.png"></p>-->
            <!--<span>KARAS - Abovyan</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a>-->
                <!--<img src="/img/restaurants/rest3.png">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="moreRestaurants">
        <button ng-click="showMoreRest()">More</button>
    </div>
</div>

<div class="newsBlock">
    <div class="mainNewsBlock">
        <div class="singleNewBlock">
            <div class="newsBlockImg">
                <a><img src="/img/news/news1.png"></a>
            </div>
            <div class="newsBlockText">
                <p class="header">KARAS: New branch in Avan community</p>
                <p class="date">15 June 2017</p>
                <p class="mainText">
                    The branch located at Khudyakov 175/1 is an open-air café. All the specifics of Karas are preserved
                    here.
                    The presented product consists of about 300 product units.
                    The main menu of the menu is the Armenian traditional cuisine.
                </p>
                <div class="detailedNews">
                    <button ng-click="readMore()">Read more</button>
                </div>
            </div>
        </div>
        <div class="singleNewBlock">
            <div class="newsBlockImg">
                <a><img src="/img/news/news2.png"></a>
            </div>
            <div class="newsBlockText">
                <p class="header">Gifts for March 8</p>
                <p class="date">07 March 2017</p>
                <p class="mainText">
                    ONLY on March 8, we ship one bottle of Karas royal champagne with all the shipping orders over 10,000 drams.
                </p>
                <div class="detailedNews">
                    <button ng-click="readMore()">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="padding npt">
    <nav class="manufacturers">
        <div class="categories">
            <div class="row">
                @{foreach m in global.categories}
                @{if m.count > 0 && !m.level}
                @{sitemap_url('products_@{!controller.getLang()}')}

                <div class="col-sm-3">
                    <a href="/@{!controller.getLang()}/shop/@{m.linker}/" style="width: 100%;text-align: center">
                        <img style="width: 100%;"
                             src="@{if !m.pic }/img/empty.png@{else}/images/small/@{m.pic}.jpg@{fi}"
                             class="img-responsive" alt="@{m.picture}" border="0"/>
                        <span style="display: inline-block; font-size: 16px">@{m.full_name[controller.getLang()]}</span>
                    </a>
                </div>

                @{fi}
                @{end}
            </div>
        </div>
    </nav>

    &lt;!&ndash;@{view('eshop/partial-products', model)}&ndash;&gt;

</div>-->
