@{sitemap('category')}

<!--<div class="padding npb">-->
	<!--<h1>-->
		<!--@{title}-->
		<!--&lt;!&ndash;@{controller.translateCat(@{title})}&ndash;&gt;-->
	<!--</h1>-->
<!--</div>-->
<!--@{if repository.category.children.length || repository.category.level}-->
	<!--@{view('partial-subcategories')}-->
<!--@{fi}-->


<div class="single-product-container">
	<div class="single-product-main">
		<div class="col-main">
			<div class="padding npt">
				<!--@{view('partial-filter')}-->
				@{view('partial-products', model)}
				@{view('partial-pagination', model)}
			</div>
		</div>

		@{view('left-sidebar', model)}
	</div>
</div>

<script>

    var shopping_cart = [];

    jC.ready(function(){
        shopping_cart = CACHE('cart');
        SET('shopping_cart', shopping_cart);
        $('.shopping-cart-body').on('click', '.fa-times-circle', function(e) {
            FIND('checkout').update($(this).attr('data-id'), 0);
        });
    });

</script>