<div class="filter">
	<div class="container">
		<nav class="buttons">
			<a href="javascript:void(0)" class="exec" data-exec="offers_menu"><i class="fa fa-navicon"></i><span>@(Options)</span></a>
		</nav>
		<div class="caption"><span class="fa fa-book mr5"></span> @(offers)</div>
	</div>
</div>

<div class="container">

	<div data-jc="grid" data-jc-path="offers.grid" data-pagination-path="offers.filter.page" data-jc-id="offers.grid" data-max="auto" data-page="@(Page: #)"
		 data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
		<script type="text/html">
			<tr>
				<!--"{{!picture ? '' : }}"-->
				<td>
					{{ if !picture }} <img width="100%" height="auto" src="/img/empty.png"> {{fi}}
					{{ if picture }} <img width="100%" height="auto" src="/images/small/{{picture}}.jpg"> {{fi}}
				</td>
				<td>{{ title.en }}</td>
				<td>{{ title.ru }}</td>
				<td>{{ title.hy }}</td>
				<td style="width:80px" class="ui-right">
					<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
					<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
				</td>
			</tr>
		</script>
	</div>

	<div class="row hidden" data-jc="visible" data-jc-path="pages.tab" data-if="value === 'widgets'">
		<div class="col-md-12">
			<div data-jc="grid" data-jc-path="widgets.grid" data-jc-id="widgets.grid" data-max="1000" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
				<script type="text/html">
					<tr>
						<td class="{{ if istemplate}}gray{{ else }}b{{ fi }}"><span class="fa fa-{{ if icon }}{{ icon }}{{ else if istemplate }}code{{ else }}plug{{ fi }} w18 mr5"></span> {{ name }}</td>
						<td class="col-xs-3 silver fs11 hidden-xs">{{ category }}</td>
						<td class="silver fs11 hidden-xs" style="width:160px">ID: {{ id }}</td>
						<td style="width:80px" class="ui-right">
							<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
							<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
						</td>
					</tr>
				</script>
			</div>
		</div>
	</div>
</div>

<div data-jc="form" data-title="@(Offer form)" data-jc-path="common.form" data-if="value === 'offers'" data-width="1300px" data-jc-id="offers.form" class="hidden">
	<div class="padding npb">
		<div class="row">
			<div class="col-md-6">
				<div data-jc="textbox" data-jc-path="offers.form.title.en" data-required="true" class="m" data-maxlength="50">@(title EN)</div>
				<div data-jc="textbox" data-jc-path="offers.form.title.ru" data-required="true" class="m" data-maxlength="50">@(title RU)</div>
				<div data-jc="textbox" data-jc-path="offers.form.title.hy" data-required="true" class="m" data-maxlength="50">@(title HY)</div>
				<div data-jc="textbox" data-jc-path="offers.form.short.en" data-required="false" class="m" data-maxlength="50">@(short EN)</div>
				<div data-jc="textbox" data-jc-path="offers.form.short.ru" data-required="false" class="m" data-maxlength="50">@(short RU)</div>
				<div data-jc="textbox" data-jc-path="offers.form.short.hy" data-required="false" class="m" data-maxlength="50">@(short HY)</div>
				<div data-jc="textbox" data-jc-path="offers.form.description.en" data-required="false" class="m" data-maxlength="50">@(description EN)</div>
				<div data-jc="textbox" data-jc-path="offers.form.description.ru" data-required="false" class="m" data-maxlength="50">@(description RU)</div>
				<div data-jc="textbox" data-jc-path="offers.form.description.hy" data-required="false" class="m" data-maxlength="50">@(description HY)</div>
				<div data-jc="textbox" data-jc-path="offers.form.link" data-required="false" class="m" data-maxlength="50">@(link)</div>
                <div class="relative mr15">
                    <div data-jc="checkbox" data-jc-path="offers.form.istop" class="red">@(Mark as <b>TOP product</b>)</div>
                </div>
                <div class="relative">
                    <div data-jc="checkbox" data-jc-path="offers.form.isnew" class="blue">@(News in store)</div>
                </div>
                <div data-jc="fileupload" data-jc-path="offers.form.picture" data-placeholder="@(Browse device)" data-error-large="@(The uploaded file is too large.)" data-accept="image/png,image/jpeg,image/jpg" data-multiple="true" data-icon="fa-camera" data-extension="false">@(Picture)</div>
            </div>
		</div>
	</div>
	<hr data-binder="offers.form.template" data-binder-visible="n => n ? false : true" class="nmb" />
	<div data-binder="offers.form.template" data-binder-visible="n => n ? true : false">
		<hr style="margin-bottom:8px" />
		<div class="cmseditor-help">
			<nav><i class="fa fa-desktop"></i><a href="javascript:products_device(1)">@(Large)</a><a href="javascript:products_device(2)">@(Medium)</a><a href="javascript:products_device(3)">@(Tablet)</a><a href="javascript:products_device(4)">@(Mobile)</a></nav>
			<div><b>@(Editor formatting:)</b> @(bold) (&#8984+B), @(italic) (&#8984+I), @(underline) (&#8984+U), @(link) (&#8984+L). <a href="javascript:void(0)" data-exec="products_sourcecode" class="exec black"><span class="fa fa-code w18"></span>@(Show source-code)</a></div>
		</div>
		<div class="pages-editor" data-jc="editor" data-jc-path="offers.form.body" data-jc-import="/templates/component-editor.html" data-jc-id="offers.editor"></div>
	</div>
	<div data-jc="visible" data-jc-path="offers.form.id" data-if="value && value.length">
		<div class="padding npb">
			<div class="row">
				<div class="col-lg-2 col-md-3 m">
					<div class="keyvalue">
						<div class="key">@(# Id)</div>
						<div class="value" data-binder="offers.form.id" data-binder-html="n => n"></div>
					</div>
				</div>
			</div>
		</div>
		<hr class="nmt" />
	</div>
	<div data-jc="error" data-jc-path="offers.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="offers.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>


<script>

    var offers = {};

    offers.filter = {};
    offers.filter.page = 1;

    offers.grid = {};
    offers.form = {};
    offers.response = null;

    ON('#offers.grid', function(component) {

        // Max items per page
        offers.filter.max = component.max;
        offers_refresh_codelists();
        offers_refresh(true);

        component.click = function(index, row, button) {
            var loading = FIND('loading');
            switch ($(button).attr('name')) {
                case 'edit':
                    offers_edit(row.id, index);
                    break;
                case 'remove':
                    FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
                        if (index)
                            return;
                        loading.show();
                        AJAX('DELETE {0}/api/offers/'.format(managerurl), { id: row.id }, function() {
                            loading.hide(500);
                            offers_refresh();
                        });
                    });
                    break;
            }
        };

        WATCH('offers.form.template', function(path, value, type) {
            FIND('#offers.editor').setTemplate(value);
            type === 2 && SET('offers.form.body', '');
        });
    });

    // Watch for changes in product filter
    WATCH('offers.filter.*', function(path, value) {
        !NOTMODIFIED('offers.filter', offers.filter) && offers_refresh(path !== 'offers.filter.page');
    });

    ON('#offers.form', function(component) {
        component.submit = function(hide) {
            var loading = FIND('loading');
            var editor = FIND('#offers.editor');
            loading.show();


            offers.form.body = editor.getContent();
            offers.form.pictures2 = editor.getPictures();

            AJAX('POST {0}/api/offers/'.format(managerurl), offers.form, function(response) {
                loading.hide(500);
                SET('offers.response', response);
                if (response instanceof Array)
                    return;
                hide();
                if (offers.form.$index === undefined)
                    setTimeout(offers_refresh_codelists, 2000);
                offers_refresh();
                success();
            });
        };
    });

    function offers_edit(id, index) {
        var loading = FIND('loading');
        loading.show();
        AJAX('GET /api/offers/{0}/'.format(id), function(response) {
            loading.hide(500);

            if (response instanceof Array) {
                FIND('message').warning(response[0].error);
                return;
            }

            SETTER('#offers.editor', 'setTemplate', response.template);
            SET('offers.form', $.extend({ $index: index }, response), true);
            SET('offers.response', null);
            SET('common.form', 'offers');

            AJAX('GET {0}/api/offers/{1}/stats/'.format(managerurl, response.id), 'offers.form.stats');

            // /templates/component-editor.html:
            cmseditor_widgets(false);
        });
    }

    function offers_new() {
        SET('offers.form', { availability: '@(In stock)' }, true);
        SET('offers.response', null);
        SET('common.form', 'offers');

        // /templates/component-editor.html:
        cmseditor_widgets(false);
    }


    // Method refreshes offers
    function offers_refresh_codelists() {
        AJAX('GET {0}/api/offers/codelists/'.format(managerurl), function(response) {
            response.offers.sort(FN('(a, b) => a.name.localeCompare(b.name)'));
            Object.keys(response).forEach(function(key) {
                SET('offers.' + key, response[key]);
            });
        });
    }

    // Method refreshes grid
    function offers_refresh(reset) {
        if (reset) offers.filter.page = 1;
        AJAX('GET {0}/api/offers/'.format(managerurl), offers.filter, 'offers.grid');
    }

    function offers_reload() {
        var hash = location.hash;
        hash && hash.length > 1 && setTimeout(function() {
            offers_edit(hash.substring(1));
        }, 500);
    }

    function offers_sourcecode() {
        SETTER('#offers.editor', 'showSourceCode');
    }

    function offers_device(type) {
        var e = FIND('editor');
        SETTER('loading', 'show')('loading', 'hide', 1000);
        switch (type) {
            case 1:
                e.device('lg');
                return;
            case 2:
                e.device('md');
                return;
            case 3:
                e.device('sm');
                return;
            case 4:
                e.device('xs');
                return;
        }
    }

    function offers_menu(el) {
        var items = [];

        items.push({ name: '@(Add offer)', value: 'offers_new', icon: 'fa-plus-circle' });

        FIND('contextmenu').show('right', el, items, function(value) {
            EXEC(value);
        }, -15, 10);
    }

</script>