@{if repository.preview}

<!--<div id="CMS">
    @{if repository.page && repository.page.body}
    &lt;!&ndash; RENDER UPDATED CONTENT &ndash;&gt;
    @{!repository.page.body}
    @{else}
    &lt;!&ndash; DEFAULT CONTENT FOR NEW PAGES FO THIS TEMPLATE &ndash;&gt;
    <div class="CMS_widgets"></div>
    @{fi}
</div>-->

@{else}

<div class="single-product-container">
    <div class="single-product-main">
        <div class="col-main">
            <div class="product-view">
                <div class="product-essential">
                    <form>
                        <div class="product-shop">
                            <div class="product-header-path">
                                    <ul>
                                        <li class="home">
                                            <a href="/@{!controller.getLang()}/">@{!controller.translateText({'en':'Home','ru':'Главная','hy':'Գլխավոր էջ'})}</a>
                                            <span>/</span>
                                        </li>
                                        <li class="category">
                                            <a href="">Ուտեստներ</a>
                                            <span>/</span>
                                        </li>
                                        <li class="product">
                                            <a href="/@{!controller.getLang()}/shop/@{model.category.linker}/">@{model.category[controller.getLang()]}</a>
                                            <span>/</span>
                                        </li>
                                        <li class="single-product">
                                            <a>@{model.name[controller.getLang()]}</a>
                                        </li>
                                    </ul>
                                </div>
                            <div class="product-body">
                                <div class="product-img">
                                    <a class="product-image product-image-zoom" href="">
                                        <img src="@{if !model.pictures || !model.pictures.length}/img/empty.png@{else}/images/small/@{model.pictures[0]}.jpg@{fi}">
                                    </a>
                                </div>
                                <div class="product-desc">
                                    <p class="item-title">@{model.name[controller.getLang()]}</p>
                                    <!--<div>@(The product <b>@{model.name}</b> is in your shopping cart) <b class="data-checkout-count"></b>.-->
                                    <!--</div>-->
                                    <!--<span class="fa fa-shopping-cart mr5"></span><a href="/checkout/" class="b">@(Order it now)</a>-->
                                    <p class="item-availability">
                                        @{if model.availability == "In stock"}
                                        <i class="fa fa-check-circle in-stock"></i>
                                        <span>@{!controller.translateText({'en':'In stock','ru':'Есть в наличии','hy':'Վաճառքում առկա է'})}</span>
                                        @{else}
                                        <i class="fa fa-times-circle out-of-stock"></i>
                                        <span>@{!controller.translateText({'en':'Out of stock','ru':'Нет в наличии','hy':'Վաճառքում առկա չէ'})}</span>
                                        @{fi}
                                    </p>
                                    <p class="item-desc">
                                        @{model.description[controller.getLang()]}
                                    </p>
                                    <div class="price-add-cart">
                                        <div class="item-price">
                                            <span class="price">@{currency(model.price)} @{!controller.translateText({'en':'AMD','ru':'др','hy':'դր'})}</span>
                                        </div>
                                        <div class="add-to-box">
                                            <div class="add-to-cart">
                                                <div class="prod-qty-btn">
                                                    <div class="quantity">
                                                        <label>Քանակ</label>
                                                        <input type="number" value="1">
                                                    </div>
                                                    <button class="detail-buy button btn-cart fr" data-id="@{model.id}" data-price="@{model.price}" data-name="@{JSON.stringify(model.name)}"
                                                            data-pic="@{if !model.pictures || !model.pictures.length}/img/empty.png@{else}/images/small/@{model.pictures[0]}.jpg@{fi}">
                                                        @{!controller.translateText({'en':'Add','ru':'Добавить','hy':'Ավելացնել'})}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @{if model.relations}
            <div class="product-related">
                <div class="related-title">
                    <span>Ընտրեք նաև՝</span>
                    <a>Ընտրել բոլորը</a>
                </div>
                <div class="related-body">
                    <div class="related-items">
                        @{foreach m in model.relations}
                        <div class="related-item">
                            <a href="">
                                <img src="@{if !m.pictures || !m.pictures.length}/img/empty.png@{else}/images/small/@{m.pictures[0]}.jpg@{fi}">
                            </a>
                            <span class="item-text">@{m.name[controller.getLang()]}</span>
                            <span class="item-price">@{m.price} @{!controller.translateText({'en':'AMD','ru':'др','hy':'դր'})}</span>
                            <div class="hidden magictime boingInUp" style="display: none">
                            </div>
                            <button type="button" class="related-btn" style="display: none; opacity: 1 !important;">
                                @{!controller.translateText({'en':'Add','ru':'Добавить','hy':'Ավելացնել'})}
                            </button>
                        </div>
                        @{end}
                    </div>
                </div>
            </div>
            @{fi}
        </div>

        <div class="col-left sidebar">
            <div class="block block-cart">
                <div class="block-title shopping-cart-header">
                    <span>
                         @{!controller.translateText({'en':'Shopping Cart','ru':'Корзина','hy':'Զամբյուղ'})}
                    </span>
                    <a href="">See all</a>
                </div>
                <div class="block-content shopping-cart-body">
                    <div data-jc="shoppingcart" data-jc-path="shopping_cart" data-lang="@{!controller.getLang()}" class="shopping-cart-list"></div>
                    <div class="shopping-cart-total-btn">
                        <div class="shopping-cart-totalCost">
                            <span class="total">Total Cost</span>
                            <span class="cost">11390 դր</span>
                        </div>
                        <div class="shopping-cart-btn">
                            <button type="button">Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block-list block-categories block-meals">
                <div class="food-header block-title">
                    <span>
                        @{!controller.translateText({'en':'Meals','ru':'Блюда','hy':'Ուտեստներ'})}
                    </span>
                </div>
                <div class="leftnav block-content food-body">
                    <ul id="leftnav-tree-20" class="level1">
                        @{foreach m in global.db_categories}
                        <li class="level1 active">
                            <a href="/@{!controller.getLang()}/shop/@{m.linker}/">@{m.full_name[controller.getLang()]}</a>
                        </li>
                        @{end}
                    </ul>
                </div>
            </div>
            <div class="block block-list block-categories block-drinks">
                <div class="drink-header block-title">
                    <span>
                         @{!controller.translateText({'en':'Drink (*delivery prices)','ru':'Напитки (*цены доставки)','hy':'Ըմպելիք (*առաքման գներ)'})}
                    </span>
                </div>
                <div class="block-content leftnav">
                    <ul id="leftnav-tree-18" class="level1">
                        <li class="level1">
                            <a href="">Ոչ ալկոհոլային</a>
                        </li>
                        <li class="level1">
                            <a href="">Տաք ըմպելիքներ</a>

                        </li>
                        <li class="level1">
                            <a href="">Ալկոհոլային</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var shopping_cart = [];

    jC.ready(function(){
        shopping_cart = CACHE('cart');
        console.log(shopping_cart);
        SET('shopping_cart', shopping_cart);
    });

//    SET('datasource', cart);

</script>


@{if model.body}
@{!model.body.tidyCMS()}
@{fi}
<!--<div class="hidden padding npb">-->
    <!--<h2 class="large">@(Related) @{model.category}</h2>-->
    <!--<div data-jc="related" data-category="@{model.linker_category}" data-id="@{model.id}"></div>-->
<!--</div>-->
@{fi}