<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="robots" content="all,follow"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansarmenian.css"/>
    <link rel="stylesheet" href="@{global.css}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body data-jc="exec" class="body-cl">

<div class="right-menu">
    <div class="right-menu-header">
        <ul class="lang-list">
            <li class="lang-item">
                <a href="@{!controller.langChangeLink('hy')}" class="curL@{!controller.getLang()=='hy'}">Հայ</a>
            </li>
            <li class="lang-item">
                <a href="@{!controller.langChangeLink('ru')}" class="curL@{!controller.getLang()=='ru'}">Ру</a>
            </li>
            <li class="lang-item">
                <a href="@{!controller.langChangeLink('en')}" class="curL@{!controller.getLang()=='en'}">Eng</a>
            </li>
        </ul>
    </div>
    <div class="right-menu-body">
        <ul class="right-menu-list">
            <li>
                <a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/">@{!controller.translateText({'en':'Home','ru':'Главная','hy':'Գլխավոր էջ'})}</a>
            </li>
            @{foreach item in global.navilinks}
            <li>
                <a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/@{item.link}">@{item.title[controller.getLang()]}</a>
            </li>
            @{end}
            <!--<li>-->
                <!--<a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/restaurants/">@{!controller.translateText({'en':'Restaurants','ru':'Рестораны','hy':'Ռեստորաններ'})}</a>-->
            <!--</li>-->
        </ul>
        <!--<a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/restaurants/">@{!controller.translateText({'en':'Restaurants','ru':'Рестораны','hy':'Ռեստորաններ'})}</a>-->
    </div>
    <div class="right-menu-footer">
        <div class="socials">
            <div class="youtube">

            </div>
            <div class="fb">

            </div>
            <div class="insta">

            </div>
            <div class="trip">

            </div>
        </div>
    </div>
</div>

<div class="container-main home-page">
    <header class="header-container">
        <div class="container head-cont">
            <div class="logo-phone">
                <a href="/@{!controller.getLang()}/">
                    <img src="/img/header-logo.png"/>
                </a>
                <span>@{!controller.translateText({'en':'+1 747 500 00 00','ru':'+1 747 500 00 00','hy':'+1 747 500 00 00'})}</span>
            </div>
            <div class="header-right">
                <div class="header-right-links">
                    <!--<a href="@{sitemap_url('restaurants_@{!controller.getLang()}')}">
                        @{!controller.translateText({'en':'Restaurants','ru':'Рестораны','hy':'Ռեստորաններ'})}
                    </a>
                    <a href="@{sitemap_url('delivery_@{!controller.getLang()}')}">
                        @{!controller.translateText({'en':'Delivery','ru':'Доставка','hy':'Առաքում'})}
                    </a>
                    <a>
                        @{!controller.translateText({'en':'Corporate offers','ru':'Корпоративные предложения','hy':'Կորպորատիվ առաջարկներ'})}
                    </a>-->
                    <a href="javascript:void(0)" class="categories-button-search categories-button">
                        <span class="fa fa-search"></span>
                    </a>
                    <a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/checkout/">
                    <span class="fa fa-shopping-cart shopping-cart">
                        <span class="xs-center" data-jc="checkout"
                              data-currency="@{config.custom.currency_entity}"></span>
                    </span>
                    </a>
                    <a class="login" href="/@{!controller.getLang()}/account/">
                        <div class="categories-button-login">
                            <button>LOGIN</button>
                        </div>
                    </a>
                    <a class="USA">
                        USA
                    </a>
                    <a class="Armenia">
                        Armenia
                    </a>
                    <a class="right-menu-button">
                        <span class="fa fa-bars"></span>
                        <!--<i class="material-icons">menu</i>-->
                        <span class="fa fa-times"></span>
                    </a>
                    <div @{if url !=='/'} class="categories-hide categories-search" @{fi}>
                        <div class="categories">
                            <div class="row">
                                <form action="@{sitemap_url('products')}" method="GET">
                                    <div class="search">
                                        <div class="search-icon"><span class="fa fa-search"></span></div>
                                        <div class="search-input">
                                            <input type="text" name="search" placeholder="@(Search items ...)"
                                                   autofocus="autofocus" value="@{query.q}"/>
                                        </div>
                                        <div class="fa fa-close search-close"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--<div id="slider">
        <a href="#" class="control_next"></a>
        <a href="#" class="control_prev"></a>
        <ul>
            @{foreach slide in global.slides}
            <li>
                <div class="slider-item">
                    <span class="slider-header">@{slide.title[controller.getLang()]}</span>
                    <span class="slider-title">@{slide.header[controller.getLang()]}</span>
                    <span class="slider-text">@{slide.description[controller.getLang()]}</span>
                    <span class="slider-btn">
						<div class="moreSpecialOffer">
							<a href="//@{slide.link}">@{!controller.translateText({'en':'order','ru':'заказать','hy':'պատվիրել'})}</a>
						</div>
					</span>
                </div>
                <div class="slider-shadow"></div>
                <img src="/img/slide1.png">
            </li>
            @{end}
        </ul>

    </div>-->
    <div class="content">
        @{body}
    </div>
    <footer class="footer-container">
        <div class="cont-links hidden-xs">
            <div class="footer-cont">
                <div class="footer-links">
                    <div class="home-page-link">
                        <ul aria-labelledby="foot-head2" role="list" class="list-unstyled">
                            <li class="active">
                                <a class="categories-button-shopping-cart" href="/@{!controller.getLang()}/">
                                    @{!controller.translateText({'en':'Home','ru':'Главная','hy':'Գլխավոր էջ'})}
                                </a>
                            </li>
                        </ul>
                    </div>
                    @{foreach item in global.navilinks}
                    <div class="other-links">
                        <ul aria-labelledby="foot-head2" role="list" class="list-unstyled">
                            <li class="active">
                                <a href="/@{!controller.getLang()}/@{item.link}"
                                   data-at="Footer:Our History" data-track="footerLinks">
                                    @{item.title[controller.getLang()]}
                                </a>
                            </li>
                        </ul>
                    </div>
                    @{end}
                </div>
                <div class="subscribe">
                    <div class="newsletter" data-jc="newsletter" data-success="@(Thanks, you have been added.)">
                        <div class="newsletter-button"><button><span class="fa fa-envelope"></span>@(SUBMIT)</button></div>
                        <div class="newsletter-input"><input type="text" placeholder="@(Join to our mailing list)" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="footerInner">
                <div class="footer-image-copyright">
                    <a><img src="/img/footer-logo.png"></a>
                    <span>Copyright 2005-2016 Karas - national food chain</span>
                </div>
                <div class="socials-and-text">
                    <div class="socials">
                        <div class="youtube">

                        </div>
                        <div class="fb">

                        </div>
                        <div class="insta">

                        </div>
                        <div class="trip">

                        </div>
                    </div>
                    <!--<div class="footer-texts">-->
                        <!--<div><span>Company</span></div>-->
                        <!--<div><span>Gallery</span></div>-->
                        <!--<div><span>Work</span></div>-->
                        <!--<div><span>Contacts</span></div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    if(location.pathname == '' || location.pathname == '/') location.href= "/en/";
</script>

@{section('script')}

</body>
</html>


<!--<div data-jc="cookie" class="hidden">@(This site uses cookies for visitor statistics. By continuing to browse the site you are agreeing to our use of cookies.) <a href="/privacy/">@(Privacy Policy)</a></div>-->
<!--<div data-jc="message" data-button="@(Close)"></div>-->

<!--<header class="header-top">
    <div class="container">

        <div class="row">
            <div class="col-sm-5 xs-center">
                <nav class="breadcrumb hidden-xs">
                    <div class="breadcrumb-social hidden-xs">

                    </div>
                </nav>
            </div>
            <div class="col-sm-7 xs-center">
                <div class="header-links-container">
                    <div class="header-links">
                        <div class="form-language">

                            @{if user}
                            <a href="/@{!controller.getLang()}/account/" class="b">@{user.name}</a>
                            <a href="/@{!controller.getLang()}/checkout/" class="">
                                <span class="fa fa-shopping-cart"></span>
                                <span class="xs-center" data-jc="checkout" data-currency="@{config.custom.currency_entity}"></span>
                                @(Your shopping cart)
                            </a>
                            <a href="/@{!controller.getLang()}/account/logoff/" class="red"  style="margin-right: 75px">@(Sign out)</a>
                            @{else}
                            <a href="/@{!controller.getLang()}/account/" class="b" style="margin-right: 75px">
                                @{!controller.translateText({'en':'Login','ru':'Вход','hy':'Մուտք'})}
                            </a>
                            @{fi}
                            <a href="@{!controller.langChangeLink('hy')}" class="curL@{!controller.getLang()=='hy'}">Հայ </a>
                            <a href="@{!controller.langChangeLink('ru')}" class="curL@{!controller.getLang()=='ru'}">Рус </a>
                            <a href="@{!controller.langChangeLink('en')}" class="curL@{!controller.getLang()=='en'}">Eng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>-->

<!--@{if url !== '/'}-->
<!--<div class="hidden-xs m">-->
<!--<a href="javascript:void(0)" class="categories-button"><span class="fa fa-folder mr5"></span>@(Show categories)</a>-->
<!--</div>-->
<!--@{fi}-->
<!--<div@{if url !== '/'} class="categories-hide"@{fi}>-->
<!--<div class="categories">-->
<!--<div class="row">-->
<!--@{foreach m in global.categories}-->
<!--@{if m.count > 0 && !m.level}-->
<!--<div class="col-sm-4"><a href="@{sitemap_url('products')}@{m.linker}/">@{m.name}</a></div>-->
<!--@{fi}-->
<!--@{end}-->
<!--</div>-->
<!--</div>-->
<!--<nav class="recommendation">-->
<!--<a href="@{sitemap_url('new')}" class="blue"><i class="fa fa-caret-right"></i>@(New items in the store)</a>-->
<!--<a href="@{sitemap_url('top')}"><i class="fa fa-caret-right"></i>@(Top items)</a>-->
<!--<a href="@{sitemap_url('popular')}"><i class="fa fa-caret-right"></i>@(Popular items)<b>NEW</b></a>-->
<!--</nav>-->
<!--</div>-->
